.price-card__title-wrapper {
  display: flex;
}

.price-card__resident {
  margin-left: 16px;
}

.price-card__time {
  position: absolute;
  bottom: 24px;
  right: 16px;
}

.price-card__content {
  position: relative;
}
