.fab-container__fabs {
  position: fixed;
  right: 16px;
  bottom: 64px;
  display: flex;
  flex-direction: column;
}

.fab-container__fab + .fab-container__fab {
  margin-top: 8px;
}

.fab-container__spacing {
  height: 56px;
}

@media only screen and (min-width: 600px) {
  .fab-container__fabs {
    right: 50%;
    transform: translateX(50%);
  }
}
