.fab-container {
  height: 56px;
}

.fab-container__fabs {
  position: fixed;
  right: 16px;
  bottom: 64px;
  display: flex;
  flex-direction: column;
}

.fab-container__fab + .fab-container__fab {
  margin-top: 8px;
}
