<% content_for(:title, "關於我們") %>

<h1>關於動森股友會</h1>

<p>
  「動森股友會」是一款能讓動物森友會玩家們即時分享大頭菜價的應用，比起一個人預測大頭菜走向，不如多一點菜友，大家一起發大財。
</p>

<h2>製作團隊</h2>

<div class="card">
  <div class="card__profile">
    <%= image_pack_tag 'media/images/tonytonyjan.png', alt: 'tonytonyjan', class: 'card__avatar' %>
    <h3 class="card__name">大兜</h3>
    <a class="card__email" href="mailto:tonytonyjan@gmail.com">tonytonyjan@gmail.com</a>
  </div>
  <table class="card__table">
    <tbody>
      <tr>
        <td>團隊角色</td>
        <td>全端工程師</td>
      </tr>
      <tr>
        <td>目前狀態</td>
        <td>無業</td>
      </tr>
      <tr>
        <td>個人網站</td>
        <td>
          <a
            href="https://tonytonyjan.net"
            target="_blank"
            rel="noreferrer noopener"
            >不歸錄</a
          >
        </td>
      </tr>
      <tr>
        <td>GitHub</td>
        <td>
          <a
            href="https://github.com/tonytonyjan"
            target="_blank"
            rel="noreferrer noopener"
            >@tonytonyjan</a
          >
        </td>
      </tr>
    </tbody>
  </table>
</div>

<p>
  右手寫程式，左手寫音樂，所以會自稱雙鍵盤手。喜歡寫程式和作曲，專長是寫 bug
  和寫 email。最近剛失業，在家養身玩動森。
</p>

<div class="card">
  <div class="card__profile">
    <%= image_pack_tag 'media/images/bananailedit.png', alt: 'bananailedit', class: 'card__avatar', style: 'background-color:gold' %>
    <h3 class="card__name">強力蕉</h3>
    <a class="card__email" href="mailto:wenlinchiao@gmail.com ">wenlinchiao@gmail.com </a>
  </div>
  <table class="card__table">
    <tbody>
      <tr>
        <td>團隊角色</td>
        <td>UI/UX 啦幹</td>
      </tr>
      <tr>
        <td>目前狀態</td>
        <td>無業啦幹</td>
      </tr>
      <tr>
        <td>個人網站</td>
        <td>難產啦幹</td>
      </tr>
      <tr>
        <td>Behance</td>
        <td>還在弄啦幹</td>
      </tr>
    </tbody>
  </table>
</div>

<p>
  左腦做 UX，右腦搞
  UI，我強力蕉啦幹。興趣是觀察人類，喜歡做實驗和畫圖，專長是大腦左右互搏然後再崩潰。敝蕉離職後很窮啦，正在尋找下一位蕉農包養，希望的待遇是錢夠多可以天天吃石二鍋啦幹。
</p>
