<!DOCTYPE html>
<html>
  <head>
    <link rel="manifest" href="/manifest.webmanifest">
    <meta name="theme-color" content="#ab47bc">
    <link rel="apple-touch-icon" href="/images/touch/turnip192.png">
    <title>大頭菜時價登錄</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap" />
    <%= stylesheet_pack_tag 'app' %>
  </head>

  <body>
    <div id="app"></div>
    <%= javascript_pack_tag 'app' %>
  </body>
</html>
