<% content_for(:title, "幫助中心") %>

<h2>使用說明</h2>
<ol>
  <li>至「設定」點選「我的島嶼」</li>
  <li>輸入自己的島名和名字</li>
  <li>叫你好友在「我的菜友」輸入你的島名和你的名字</li>
  <li>以後只要你報菜價，你好友就能看到</li>
</ol>
<h2>安裝至手機</h2>
<h3>Android</h3>
<p>使用 Chrome 將網站新增至手機桌面即可安裝：</p>
<ol>
  <li>輕觸畫面右上方的「⋮」圖案</li>
  <li>輕觸「新增至主畫面」</li>
</ol>

<%= image_pack_tag 'media/images/help/android-installation.gif', alt: '安裝至 Android', height: '360' %>

<h3>iPhone</h3>
<p>使用 Safari 將網站新增至手機桌面即可安裝。</p>

<ol>
  <li>
    輕觸畫面正下方的「<span
      style="
        content: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAQElEQVR42qXKwQkAIAxDUUdxtO6/RBQkQZvSi8I/pL4BoGw/XPkh4XigPmsUgh0626AjRsgxHTkUThsG2T/sIlzdTsp52kSS1wAAAABJRU5ErkJggg==');
      "
    ></span
    >」圖案
  </li>
  <li>輕觸「加入主畫面」</li>
</ol>

<%= image_pack_tag 'media/images/help/iphone-installation.gif', alt: '安裝至 iPhone', height: '360' %>

<h2>FAQ</h2>
<p>為什麼我的好友看不到我報的菜價？</p>
<blockquote>
  有可能你和好友輸入的島嶼名稱差了一個「島」字，請確認你在「設定」所輸入的島嶼名稱與名字，與你好友的「我的菜友」所輸入的文字一致。
</blockquote>
<p>冒名或撞名怎麼辦？</p>
<blockquote>
  <p>
    除非你是公眾人物，不然別人要猜中你的島名和人名是很困難的。萬一還是撞名，你可以更換島名或人名，跟好友約定好且名字都有對上即可。由於「動森股友會」定位是給好友群使用，約定特殊的名字應該不是難事啦！
  </p>
</blockquote>
<p>為什麼「即時菜價」上的價錢和我稍早輸入的價錢不一樣？</p>
<blockquote>
  <p>你可能被冒名或撞名了，請考慮和你的菜友們約定好新的島嶼名稱和名字。</p>
</blockquote>
<p>填錯菜價了怎麼辦？</p>
<blockquote>
  <p>再填寫一次即可，新報的菜價會覆蓋掉上一次的菜價。</p>
</blockquote>
<p>「我的紀錄」會儲存多久？</p>
<blockquote>
  <p>保留七天。</p>
</blockquote>
