html,
body {
  height: 100%;
}

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  overflow-y: scroll;
}

.app {
  padding-bottom: 56px;
}

.app__main {
  padding: 16px;
}

.app__fabs {
  position: fixed;
  bottom: 0;
  right: 16px;
}

.app__nav {
  position: fixed;
  width: 100%;
  bottom: 0;
}
