html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  margin: 0;
}

.app {
  position: relative;
  height: 100vh;
  padding-bottom: 56px;
}

.app__main {
  height: 100%;
  padding: 16px;
}

.app__nav {
  position: fixed;
  width: 100%;
  bottom: 0;
}
